h1 { 
color: blue;
background-color: red;
}
header {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav {
    background-color: blueviolet;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
/* Justify content is the main axis of a flex container
By default the flex direction is row: so justify-content will work on the x axis
align-items is the cross axis
*/
p {
    background-color: greenyellow;
    border: 2px solid black;
    width:20%;
}